.progress {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    animation: backgroundChange 12s linear infinite alternate;
}

@keyframes backgroundChange {
    0% {
        background: black;
    }
    20% {
        background: black;
    }
    30% {
        background: white;
    } 
    70% {
        background: white;
    } 
    80% {
        background: black;
    }
    100% {
        background: black;
    }
}

.progress-container {
    width: 60%;
    border: 3px solid #808080;
    border-radius: 5px;
}

.progress-bar {
    width: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    animation: textChange 12s linear infinite alternate;
}

.progressText {
    animation: textChange 12s linear infinite alternate;
}

@keyframes textChange {
    0% {
        color: white;
    }
    20% {
        color: white;
    }
    30% {
        color: black;
    } 
    70% {
        color: black;
    } 
    80% {
        color: white;
    }
    100% {
        color: white;
    }
}
